## Deliverable 2. Create a Customer Travel Destinations Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [16]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mitu,CO,1.1983,-70.1733,71.29,96,15,0.16,few clouds
1,1,College,US,64.8569,-147.8028,55.09,87,75,9.22,heavy intensity rain
2,2,Sao Jose Da Coroa Grande,BR,-8.8978,-35.1478,73.51,88,27,8.88,scattered clouds
3,3,Castro,BR,-24.7911,-50.0119,53.17,96,100,5.91,overcast clouds
4,4,Port-Gentil,GA,-0.7193,8.7815,73.44,82,100,12.75,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 60
What is the maximum temperature you would like for your vacation? 80

In [17]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)] 
                                    
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mitu,CO,1.1983,-70.1733,71.29,96,15,0.16,few clouds
2,2,Sao Jose Da Coroa Grande,BR,-8.8978,-35.1478,73.51,88,27,8.88,scattered clouds
4,4,Port-Gentil,GA,-0.7193,8.7815,73.44,82,100,12.75,light rain
6,6,Charters Towers,AU,-20.1000,146.2667,75.87,42,54,12.17,broken clouds
11,11,Atuona,PF,-9.8000,-139.0333,76.62,78,27,17.76,light rain
12,12,Yumen,CN,40.2833,97.2000,77.47,31,100,12.33,moderate rain
14,14,Tura,IN,25.5198,90.2201,76.73,91,93,2.77,overcast clouds
16,16,Ribeira Grande,PT,38.5167,-28.7000,74.86,84,23,10.85,light rain
18,18,Hamilton,US,39.1834,-84.5333,77.92,90,0,8.05,clear sky
25,25,Puerto Ayora,EC,-0.7393,-90.3518,68.56,97,78,5.99,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mitu,CO,71.29,few clouds,1.1983,-70.1733,
2,Sao Jose Da Coroa Grande,BR,73.51,scattered clouds,-8.8978,-35.1478,
4,Port-Gentil,GA,73.44,light rain,-0.7193,8.7815,
6,Charters Towers,AU,75.87,broken clouds,-20.1000,146.2667,
11,Atuona,PF,76.62,light rain,-9.8000,-139.0333,
12,Yumen,CN,77.47,moderate rain,40.2833,97.2000,
14,Tura,IN,76.73,overcast clouds,25.5198,90.2201,
16,Ribeira Grande,PT,74.86,light rain,38.5167,-28.7000,
18,Hamilton,US,77.92,clear sky,39.1834,-84.5333,
25,Puerto Ayora,EC,68.56,broken clouds,-0.7393,-90.3518,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")
        
print("Finished")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
#7. Drop the rows where there is no Hotel Name.
cleaning_hotel_df = hotel_df.replace(r'^\s*$',np.nan, regex= True)
clean_hotel_df = cleaning_hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Sao Jose Da Coroa Grande,BR,73.51,scattered clouds,-8.8978,-35.1478,Crôa Mares Hotel
4,Port-Gentil,GA,73.44,light rain,-0.7193,8.7815,Fengshui Residence
6,Charters Towers,AU,75.87,broken clouds,-20.1000,146.2667,Cattleman's Rest Motor Inn
11,Atuona,PF,76.62,light rain,-9.8000,-139.0333,Villa Enata
14,Tura,IN,76.73,overcast clouds,25.5198,90.2201,Hotel RIKMAN Continental
16,Ribeira Grande,PT,74.86,light rain,38.5167,-28.7000,Quinta da Meia Eira
18,Hamilton,US,77.92,clear sky,39.1834,-84.5333,Six Acres Bed & Breakfast
25,Puerto Ayora,EC,68.56,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
27,Bethel,US,79.65,scattered clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
29,Jumla,NP,62.87,overcast clouds,29.2747,82.1838,Royal Garden Hotel

In [33]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [34]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [39]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))